@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body{
    font-family: "Roboto", sans-serif;
}

.header{
    background-image: url(../img/bg_img.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.container{
    margin: 0 auto;
    max-width: 1200px;
}

.wrap{
    background: rgba(255, 255, 255, 0.192);
    backdrop-filter: blur(10px);
}

.content{
    padding: 5px 10px;
}

/* Стили для меню */

.nav{
    display: block;
    border-bottom: 1px solid currentColor;
}

.menu{
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;

}

.menu-item{
    color: currentColor;
    text-transform: uppercase;
    transition: all 0.3s ease;
}

.menu-item:hover{
    color: #39f042;
}

.logo{
    font-size: 24px;
    color: currentColor;
    transition: all 0.3s ease;
}

.logo:hover{
    color: #478aee
}

/* Стили для main */

h1{
    font-size: 34px;
    text-align: center;
    margin-top: 30px;
}

.content-main {
    display: flex;
    column-gap: 20px;
    justify-content: center;
    margin-top: 50px;
}


.begin {
    background-color: #5847ee;
    color: #fff;
    width: 300px;
    padding: 10px 35px;
    font-size: 18px;
    border-radius: 10px;
    display: block;
    margin: 50px auto;
    transition: all 0.3s ease;
    cursor: pointer;
}

.block-info{
    display: flex;
    gap: 40px;
    margin-top: 50px;
}

.desc{
    max-width: 500px;
}

.main-img{
    margin: 0 auto;
    max-width: 500px;
}

.begin:hover{
    background-color: #4636d6;
}

/* Стили для секции с картинками */

.wrap-grid{
    display: grid;
    grid-template-columns: repeat(3, 200px);
    justify-content: center;
}

.grid-item {
    align-self: center;
}

.grid-img{
    width: 150px;
    height: 150px;
}