@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    /* Цвета фона */
    --bg-color-green: #9DB33E;
    --bg-color-white: #fff;
    --bg-color-black: #282828;

    /* Цвета текста */
    --text-color-black: #141414;
    --text-color-white-black: #444;
    --text-color-white: #fff;

    /* Техт для кнопки */
    --btn-static-color: #D52027;
    --btn-hover-color: #b3181e;
}

/* Основные стили */

body{
    font-family: "Montserrat", sans-serif;
}

.container{
    max-width: 1160px;
    margin: 0 auto;
}

.header{
    background-color: var(--bg-color-green);
}

/* Стили для меню */

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.menu-item {
    margin-right: 35px;
}

.menu-link{
    color: var(--text-color-white);
    transition: all 0.5s ease;
}

.menu-link:hover {
    color: #b8b8b8;
}

.logo {
    font-size: 30px;
    font-weight: 700;
}

/* Стили для контента в header */

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 65px;
}
.header-title {
}
.header-name {
    color: var(--text-color-white);
    font-size: 70px;
    font-weight: 600;
    max-width: 377px;
    margin-right: 50px;
}
.header-desc {
    color: var(--text-color-white);
    font-size: 20px;
    margin-top: 20px;
}
.btn-reg {
    color: var(--text-color-white);
    background-color: var(--btn-static-color);
    padding: 25px 54px;
    margin-top: 45px;
    border-radius: 10px;
    font-size: 18px;
    border: none;
    transition: all 0.3s ease;
}

.btn-reg:hover{
    background-color: var(--btn-hover-color);
}

.header-img {
    max-width: 492.003px;
    max-height: 390px;
}

/* Стили для блока бонусы */

.bonus-content {
    margin-top: 40px;
}
.bonus-title {
}
.bonus-name {
    color: var(--text-color-black);
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
}
.grid-wrap {
    display: grid;
    grid-template-columns: repeat(4,280px);
    gap: 15px;
}
.grid-item {
    align-items: center;
}
.item-name {
    color: var(--text-color-white-black);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}
.item-desc {
    color: var(--text-color-white-black);
    font-size: 20px;
    font-weight: 400;
    max-width: 250px;
}

.bonus-button{
    display: flex;
    justify-content: center;
}

.bonus-btn{
    margin: 60px 0 40px;
}

.btn-up {
    position: fixed;
    background-color: #f57c00;
    left: 20px;
    bottom: 30px;
    border-radius: 25px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.15s ease-in-out, transform 0.3s ease-in-out;
    color: #fff;
    width: 50px;
    height: 50px;
    opacity: 1;
    transform: translateY(0);
  }
  
  .btn-up_hide {
    display: none;
  }
  
  .btn-up_hiding {
    opacity: 0;
    transform: translateY(100px);
  }
  
  .btn-up-icon {
    width: 40px;
    height: 40px;
    fill: currentcolor;
  }

/* Стили для подвала */

.footer{
    background-color: var(--bg-color-black);
}

.footer-content{
    display: flex;
    padding: 25px 0;
    justify-content: space-between;
    align-items: center;
}